<mat-list dense *ngFor="let item of postsDataFromUrl">
    <!-- <mat-list-item> userId: {{item.userId}}</mat-list-item>
    <mat-list-item> id: {{item.id}}</mat-list-item> -->
    <mat-list-item class="card_margin">
        <mat-card>
            <mat-card-title>
                <h3>
                    Title:
                </h3>
            </mat-card-title>
            <mat-card-content>
                {{item.title}}
            </mat-card-content>
        </mat-card>
    </mat-list-item>
</mat-list>